In [1]:
import tushare as ts
import numpy as np
import pandas as pd
import time
import sys
#import dateutil

In [2]:
df = pd.read_csv("new.csv")
#df = pd.read_csv("new.csv", index_col ="trade_date", parse_dates = ["trade_date"])

In [3]:
#df = df.drop(labels='10>5', axis=1)
df

,trade_date,open,high,low,close,pre_close,change,pct_chg,vol,amount,ma5,ma10,ma5>ma10,ma5>ma10_pre,jc
0,20120618,46.48,46.70,45.62,46.12,46.06,0.06,0.1300,201148.87,928630.635,45.286,45.251,True,False,False
1,20120619,46.00,46.60,45.85,45.96,46.12,-0.16,-0.3500,202791.28,938135.164,45.286,45.251,True,False,False
2,20120620,46.00,46.54,45.95,46.04,45.96,0.08,0.1700,138919.49,641604.885,45.286,45.251,True,False,False
3,20120621,45.76,45.76,44.26,44.77,46.04,-1.27,-2.7600,275213.40,1234013.462,45.286,45.251,True,False,False
4,20120625,44.45,44.59,43.47,43.54,44.77,-1.23,-2.7500,189097.16,831236.799,45.286,45.251,True,False,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2438,20220701,46.70,46.98,46.12,46.31,46.69,-0.38,-0.8139,357568.42,1657492.966,46.698,46.339,True,False,True
2439,20220704,46.20,46.50,45.80,46.46,46.31,0.15,0.3239,407129.60,1877564.069,46.630,46.449,True,False,True
2440,20220705,46.48,47.55,46.38,46.61,46.46,0.15,0.3229,452568.50,2123843.409,46.572,46.497,True,False,True
2441,20220706,46.62,46.63,45.75,45.85,46.61,-0.76,-1.6306,389560.93,1790455.442,46.384,46.542,False,False,False
2442,20220707,45.65,46.14,45.59,45.60,45.85,-0.25,-0.5453,293722.10,1344724.700,46.166,46.477,False,False,False

In [4]:
def Cal_ma5():
    for i in df.index:
        if( i < 4):
            continue
        df2 = df[(i-4):(i+1)]
        df.loc[i,"ma5"] = df2["close"].mean()
    else:
         print(i)

In [5]:
def Cal_ma10():
    for i in df.index:
        if( i < 9):
            continue
        df2 = df[(i-9):(i+1)]
        df.loc[i,"ma10"] = df2["close"].mean()
    else:
         print(i)

In [6]:
def Cal_ma5_ma10():
    df["ma5"] = 0.0
    df["ma10"] = 0.0
    df["ma5"] = df["close"].rolling(5).mean()
    df["ma10"] = df["close"].rolling(10).mean()

In [7]:
def Cal_ma5_ma10_2():
    sr = df["close"].cumsum()
    df["ma5"] = (sr - sr.shift(1).fillna(0).shift(4))/5
    df["ma10"] = (sr - sr.shift(1).fillna(0).shift(9))/10

In [8]:
def Cal_ma5Lma10():
    df["ma5>ma10"] = df["ma5"]>df["ma10"]

In [9]:
def Cal_ma5Lma10_pre():
    for i in df.index:
        if ( i== 0):
            continue
        df.loc[i,"ma5>ma10_pre"] = (df.loc[(i-1),"ma5"] > df.loc[(i-1),"ma10"]  )

In [10]:
def Cal_ma5Lma10_pre_2():
    df["ma5>ma10_pre"] = df["ma5>ma10"].shift(1)

In [11]:
 def Cal_jc(): 
    for i in df.index:
         if (i<9):
            print (" i : "+str(i))
            continue
         df.loc[i,"jc"] =(( df.loc[i,"ma5>ma10"] == True ) & (df.loc[i,"ma5>ma10_pre"] == False))
    else:
         print( " Else i = "+ str(i))

In [12]:
df["sicha"] = False
def Cal_sc():
    for i in df.index:
         if (i<9):
            print (" i : "+str(i))
            continue
         df.loc[i,"sicha"] =(( df.loc[i,"ma5>ma10"] == False ) & (df.loc[i,"ma5>ma10_pre"] == True))
    else:
         print( " Else i = "+ str(i))

In [17]:
#Cal_ma5_ma10()
Cal_ma5_ma10_2()


Cal_ma5Lma10()
#Cal_ma5Lma10_pre()
Cal_ma5Lma10_pre_2()

Cal_jc()
Cal_sc()

 i : 0
 i : 1
 i : 2
 i : 3
 i : 4
 i : 5
 i : 6
 i : 7
 i : 8
 Else i = 2442
 i : 0
 i : 1
 i : 2
 i : 3
 i : 4
 i : 5
 i : 6
 i : 7
 i : 8
 Else i = 2442

In [18]:
#df.to_csv("new2.csv", index = False)


df

,trade_date,open,high,low,close,pre_close,change,pct_chg,vol,amount,ma5,ma10,ma5>ma10,ma5>ma10_pre,jc,sicha
0,20120618,46.48,46.70,45.62,46.12,46.06,0.06,0.1300,201148.87,928630.635,NaN,NaN,False,NaN,False,False
1,20120619,46.00,46.60,45.85,45.96,46.12,-0.16,-0.3500,202791.28,938135.164,NaN,NaN,False,False,False,False
2,20120620,46.00,46.54,45.95,46.04,45.96,0.08,0.1700,138919.49,641604.885,NaN,NaN,False,False,False,False
3,20120621,45.76,45.76,44.26,44.77,46.04,-1.27,-2.7600,275213.40,1234013.462,NaN,NaN,False,False,False,False
4,20120625,44.45,44.59,43.47,43.54,44.77,-1.23,-2.7500,189097.16,831236.799,45.286,NaN,False,False,False,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2438,20220701,46.70,46.98,46.12,46.31,46.69,-0.38,-0.8139,357568.42,1657492.966,46.698,46.339,True,True,False,False
2439,20220704,46.20,46.50,45.80,46.46,46.31,0.15,0.3239,407129.60,1877564.069,46.630,46.449,True,True,False,False
2440,20220705,46.48,47.55,46.38,46.61,46.46,0.15,0.3229,452568.50,2123843.409,46.572,46.497,True,True,False,False
2441,20220706,46.62,46.63,45.75,45.85,46.61,-0.76,-1.6306,389560.93,1790455.442,46.384,46.542,False,True,False,True
2442,20220707,45.65,46.14,45.59,45.60,45.85,-0.25,-0.5453,293722.10,1344724.700,46.166,46.477,False,False,False,False

In [19]:
df[df["jc"]]

,trade_date,open,high,low,close,pre_close,change,pct_chg,vol,amount,ma5,ma10,ma5>ma10,ma5>ma10_pre,jc,sicha
10,20120704,45.71,45.93,44.90,45.15,45.62,-0.47,-1.0300,110491.55,499825.405,45.452,45.154,True,False,True,False
23,20120723,45.36,45.36,44.50,44.79,45.97,-1.18,-2.5700,172867.97,776087.256,45.058,45.010,True,False,True,False
33,20120806,44.01,44.67,43.93,44.60,44.05,0.55,1.2500,146310.67,648599.981,44.588,44.537,True,False,True,False
37,20120810,44.50,45.27,44.50,44.84,44.66,0.18,0.4000,137099.96,616938.583,44.478,44.434,True,False,True,False
56,20120906,39.48,40.10,39.39,39.82,39.25,0.57,1.4500,96156.74,381699.358,39.440,39.338,True,False,True,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2343,20220210,53.18,54.18,52.80,54.18,53.04,1.14,2.1493,962787.16,5186085.981,52.434,52.267,True,False,True,False
2371,20220322,46.50,47.86,46.45,47.80,47.04,0.76,1.6156,742111.55,3516558.054,46.512,46.199,True,False,True,False
2402,20220511,44.44,45.01,44.21,44.73,44.47,0.26,0.5847,607284.82,2710550.320,44.526,44.320,True,False,True,False
2417,20220601,44.25,44.55,43.91,44.17,44.20,-0.03,-0.0679,328520.73,1451299.033,43.840,43.706,True,False,True,False
2436,20220629,46.89,47.44,46.58,46.79,46.90,-0.11,-0.2345,412772.46,1939726.830,46.700,46.392,True,False,True,False

In [20]:
df[df["sicha"]]

,trade_date,open,high,low,close,pre_close,change,pct_chg,vol,amount,ma5,ma10,ma5>ma10,ma5>ma10_pre,jc,sicha
17,20120713,44.54,45.60,44.54,45.00,45.01,-0.01,-0.0200,148773.38,672160.609,45.368,45.530,False,True,False,True
27,20120727,45.05,45.18,43.50,44.49,44.70,-0.21,-0.4700,247192.49,1092836.704,44.722,44.768,False,True,False,True
35,20120808,43.96,44.43,43.76,44.37,43.92,0.45,1.0200,127186.45,561573.789,44.356,44.403,False,True,False,True
38,20120813,44.79,44.80,41.65,41.92,44.84,-2.92,-6.5100,414447.05,1780966.720,43.942,44.265,False,True,False,True
64,20120918,39.75,40.37,39.31,40.03,40.03,0.00,0.0000,113933.17,454682.163,40.628,40.745,False,True,False,True
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2350,20220221,54.10,54.25,53.51,54.16,54.50,-0.34,-0.6239,387928.45,2089115.306,53.886,53.914,False,True,False,True
2385,20220413,48.25,48.38,47.68,47.82,48.47,-0.65,-1.3410,317751.37,1524357.801,48.326,48.449,False,True,False,True
2405,20220516,44.15,44.21,43.18,43.36,43.96,-0.60,-1.3649,468862.81,2039402.751,44.104,44.217,False,True,False,True
2433,20220624,46.43,46.85,46.22,46.76,46.25,0.51,1.1027,536723.89,2498586.725,45.980,46.044,False,True,False,True
2441,20220706,46.62,46.63,45.75,45.85,46.61,-0.76,-1.6306,389560.93,1790455.442,46.384,46.542,False,True,False,True